#project {
	justify-content: center;
	text-align: center;
	height: calc(100vh- 4rem);
	width: 100vw;
	max-width: 75rem;
	margin: 0 auto;
	height: 95vh;
}

.t {
	margin: 5rem auto;
}
.project_card_container {
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.project_card {
	width: 100vh;
	max-width: 20rem;
	height: 32vh;
	margin-bottom: 4rem;
	display: grid;
	padding: 5px;
	padding-bottom: 30px;
}
.project_card_img {
	object-fit: cover;
	height: 12rem;
	width: 100vw;
	max-width: 20rem;
	border-radius: 65px;
}
.project_title {
	font-size: 2.1rem;
	font-weight: 120;
	text-align: center;
	margin-top: 1.5rem;
	margin-bottom: 3rem;
	color: whitesmoke;
}
.project_card_button {
	color: whitesmoke;
}
