#skills {
	width: 100vw;
	max-width: 75rem;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 8rem;
	height: 95vh;
}
.skills-title {
	font-size: 2.1rem;
	font-weight: 120;
	text-align: center;
	margin-top: 1.5rem;
	margin-bottom: 3rem;
	color: whitesmoke;
}
.skills-container {
	display: flex;
	justify-content: space-around;
	margin: 20px;
}

.skills-category {
	flex: 1;
	margin: 10px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.skills-category h2 {
	font-size: 1.5rem;
	color: #333;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	margin-bottom: 8px;
	font-size: 1rem;
	color: #555;
	display: flex;
	align-items: center;
}
