#resume {
	width: 100vw;
	max-width: 75rem;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 3rem;
}
.resume_title {
	font-size: 2.1rem;
	font-weight: 120;
	text-align: center;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	color: whitesmoke;
}
.download_button {
	display: flex;
	padding: 5px 10px;
	border: 2px solid black;
	background-color: aqua;
	border-radius: 5px;
	justify-content: center;
	max-width: 65rem;
	margin-left: 5rem;
}
.resume-container {
	display: flex;
	justify-content: space-around;
	margin: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	color: black;
	background-color: #fff;
	flex-direction: column;
	font-size: large;
}
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	border-bottom: 2px solid black;
}
.header-left {
	justify-content: left;
}
.header-right {
	display: flex;
	flex-direction: column;
	justify-content: right;
}
.name {
	font-size: 30px;
}
.body {
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}
.summary,
.education,
.skills,
.projects,
.other-exp {
	margin-bottom: 1rem;
}

.project-section {
	margin-bottom: 0.8rem;
}

h3,
h4 {
	color: inherit;
	margin-bottom: 0.8rem;
}
