/* {#resume {
	height: calc(100vh- 4rem);
	width: 100vw;
	max-width: 75rem;
	max-height: 80vh;
	margin: 0 auto;
	margin-top: 0;
}} */

#resume {
	height: calc(100vh- 4rem);
	width: 100vw;
	max-width: 75rem;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 3rem;
}
.resume_title {
	font-size: 2.1rem;
	font-weight: 120;
	text-align: center;
	margin-top: 1.5rem;
	margin-bottom: 3rem;
	color: whitesmoke;
}
.resume_img {
	max-width: 100vw;
	max-height: 100vh;
	object-fit: contain;
	margin-left: 8rem;
}
