#home {
	height: calc(100vh- 4rem);
	width: 100vw;
	max-width: 75rem;
	overflow: hidden;
	margin: 0 auto;
}

.home-page-content {
	height: 95vh;
	padding: 2rem;
	font-size: 5rem;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.hello {
	font-size: 2.75rem;
	font-weight: 100;
}
.home-page-name {
	color: #c57eec;
}
.home-page-intro {
	font-weight: 200;
	font-size: large;
}
